.h1 {
    font-size:40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color:pink;
    font-style:oblique;
    text-align:center;

    margin:30px;
    border: 5px dashed;
    padding:0px;
}

.bodystyle {
    background-color:mistyrose;
    color:maroon;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;

}

.links {
    font-size:30px;
    font-family:sans-serif;
    list-style-type:none;

}


.korean.food {
    height:500px;
    width: 600px;
}
#kimchi {
    height:500px;
    width:700px;
}

.practice {
    text-align:right;
    background-color:lightcoral;
    color:white;
    font-family: 'PT Serif', serif;
    font-size:35px;

    margin:30px;
    border: 7px maroon solid;
    padding: 30px 20px;
}

.practice-two {
    text-align:right;
    background-color:lightcoral;
    color:white;
    font-family: 'PT Serif', serif;
    font-size:35px;

    margin:30px;
    border: 7px maroon solid;
    padding: 30px 20px;
}

.practice-three {
    text-align:left;
    background-color:lightcoral;
    color:white;
    font-family: 'PT Serif', serif;
    font-size:30px;

    margin:50px;
    border: 7px maroon dotted;
    padding: 30px 20px;
}


a {
    color:lightseagreen;
}

a:hover {
    color:black;
}

a:visited {
    color:purple;
}

/* everything after this comment pertains to other recipe pages */

.recipe.name {
    font-size:30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:black;
    text-align:center;
}

#hotteokstyle,
#kimchistyle,
#pajeonstyle {
    background-color:lightcyan;
    color: black;
    font-size:25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}